
torch==1.12.1+cu113 torchvision==0.13.1+cu113 torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu113

absl-py==2.1.0
av==13.1.0
cffi==1.17.1
decord==0.6.0
filelock==3.16.1
flatbuffers==24.12.23
fsspec==2024.10.0
huggingface-hub==0.26.2
jax==0.4.38
jaxlib==0.4.38
matplotlib==3.9.2
mediapipe==0.10.5
mkl-service==2.4.0
ml_dtypes==0.5.0
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
ply==3.11
protobuf==4.25.5
pycparser==2.22
PyQt5==5.15.10
PyYAML==6.0.2
regex==2024.11.6
safetensors==0.4.5
scikit-learn==1.5.2
sentencepiece==0.2.0
sounddevice==0.5.1
timm==1.0.11
tokenizers==0.20.3
tqdm==4.67.0
transformers==4.46.2
webencodings==0.5.1